*{
  margin:0;
  padding:0;
}
nav div{
  display:inline-block;
}
.icon{
  background-image: url(../images/porsche-icon.png);
  background-size: 90px 38px;
  width:45px;
  height:38px;
  transition: background-position .5s;
}
.icon:hover{
  background-image: url(../images/porsche-icon.png);
  background-size: 90px 38px;
  background-position: -45px 0;
}
.google-icon1{
  width:45px;
  height:38px;
  background-image: url(https://www.google.com.hk/images/nav_logo242_hr.png);
  background-repeat: no-repeat;
  background-position: -210px -160px;
}
.google-icon2{
  width:45px;
  height:38px;
  background-image: url(https://www.google.com.hk/images/nav_logo242_hr.png);
  background-repeat: no-repeat;
  background-position: -81px -516px
}
.google-icon3{
  width:33px;
  height:34px;
  background-image: url(https://www.google.com.hk/images/nav_logo242_hr.png);
  background-repeat: no-repeat;
  background-position: -26px -655px;
}
.google-icon4{
  width:33px;
  height:38px;
  background-image: url(https://www.google.com.hk/images/nav_logo242_hr.png);
  background-repeat: no-repeat;
  background-position: -215px -450px;
}
.porsche1{
  background-image: url(../images/porsche-model.png),url(../images/porsche-background1.jpg);
  height:calc(100vh - 42px);
  width:100%;
  background-size:auto,cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
.porsche2{
  background-image: url(../images/porsche-model2.png),url(../images/porsche-background2.jpg);
  height:100vh;
  width:100%;
  background-size:auto,cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
.porsche3{
  background-image: url(../images/porsche-model3.png),url(../images/porsche-background3.jpg);
  height:100vh;
  width:100%;
  background-size:auto,cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
footer{
  background-image: url(../images/glassy.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top:80px;
 /* border:1px solid;*/
  background-attachment: fixed;
}
.test{
  width:1704px;
  margin:auto;
  /*margin-top:80px; */ /*疑问：此处为什么footer的背景下移 ,因为margin溢出*/ 
  border:3px solid #963;
  background-image: url(../images/glassy-gray.jpg);
  xbackground-position:-1px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}